
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

header,
main,
footer {
  max-width: 700px;
  margin: 0 auto;
}


header {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 0.5rem;
  background-color: #413f3f;
  box-shadow: 0 0 20px #777;
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  grid-gap: 2rem;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  justify-self: center;
  color: #ffffff;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

header img {
  width: 100%;
  height: auto;
}


main#home-main ol li {
  padding: 0.2rem;
}


main#home-main a:visited {
  color: blue;
}

main#home-main a {
  color: blue;
}

pre {
  border-radius: 0.375rem;
  background-color: #292d3e; 
  color: white;
  font-size: 12px;
  /* white-space: pre-wrap; */
  padding: 1em 2em;
  overflow:auto;
}

code {
  display: inline-block;
  margin: 1rem;
  white-space:pre-wrap;
}


footer {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 0.1rem;
  background-color: #413f3f;
  box-shadow: 0 0 20px #777;
  border-radius: 0.5rem;
  text-align: center;
}

footer p:first-of-type {
  color: white;  
}

footer p:last-of-type {
  color: yellow;
}


