/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:ital@1&display=swap"); */

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

header,
main,
footer {
  max-width: 700px;
  margin: 0 auto;
}


header {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 0.5rem;
  background-color: #413f3f;
  box-shadow: 0 0 20px #777;
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  grid-gap: 2rem;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  justify-self: center;
  color: #ffffff;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

header img {
  width: 100%;
  height: auto;
}


main ul li {
  padding: 0.2rem;
}

footer {
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 0.1rem;
  background-color: #413f3f;
  box-shadow: 0 0 20px #777;
  border-radius: 0.5rem;
  text-align: center;
}

footer p:first-of-type {
  color: white;  
}

footer p:last-of-type {
  color: yellow;
}


